.dashboard {
    display: flex;
}

.dashboard-header {
  text-align: center;
  color: #01366e;
  margin-bottom: 20px;
}

/* Dashboard.css */
.sidebar {
    width: 200px;
    background: linear-gradient(to bottom, #006994, #005b80); /* Gradient background */
    color: #fff;
    padding-top: 20px;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
  }
  
  .sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Change background color on hover */
  }
  

.content {
    flex: 1;
    padding: 20px;
}

.total-users-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin-top: 10px;
}

.total-users-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #013b7a;
}

.total-users-card h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.total-users-card p {
  font-size: 24px;
  font-weight: bold;
  color: #28a745;
}

.user-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-analytics-header {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}