.about-section {
  display: flex;
  flex-wrap: wrap; /* Ensure flex items wrap to next line if needed */
  justify-content: space-between;
  align-items: center;
  margin: 50px 0; /* Adjust margin as needed */
}

.about-header {
  text-align: center;
  margin-bottom: 20px;
}

.about-image {
  flex: 0 0 100%; /* Image takes up full width on smaller screens */
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto;
  max-height: 500px;
  margin-bottom: 20px; /* Add some space between image and text */
}

.about-description {
  flex: 0 0 100%; /* Text takes up full width on smaller screens */
  margin-bottom: 20px;
}

.about-description h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.about-description p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.about-button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(34, 149, 164);
  color: white;
  font-size: 0.9rem;
  border: none;
  margin-top: 30px;
}

/* Media Query for smaller screens */
@media screen and (min-width: 768px) {
  .about-image {
    flex: 0 0 50%; /* Image takes up 50% of the container */
    max-width: 50%;
    margin-right: 20px; /* Add some space between image and text */
    margin-bottom: 0; /* Reset margin for smaller screens */
  }

  .about-description {
    flex: 0 0 45%; /* Text takes up 45% of the container */
    margin-right: 20px;
    margin-bottom: 0; /* Reset margin for smaller screens */
  }
}

/* Media Query for very small screens */
@media screen and (max-width: 480px) {
  .about-section {
    flex-direction: column; /* Stack items vertically */
  }

  .about-image,
  .about-description {
    flex: 0 0 100%; /* Full width for both image and description */
    max-width: 100%;
    margin-right: 0; /* Reset margin */
    margin-bottom: 20px; /* Add space between stacked items */
    
  }

  .about-image {
    order: -1; /* Move image above description */
  }
}
